.grade{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
}
main .grade .card-body #button-Comprar{
    cursor: pointer ;
    background-color: #D9D9D9 ;
    color: #2A2B33;
    border: none;
    border-radius: 0.5px;
    }
    
    main .grade .card-body #button-Comprar:hover{
        background-color:#2A2B33;
        color: #D9D9D9;
    }
    main .grade .card-body img{
        background-size: cover;
        background-position: center;
       background-repeat: no-repeat; 
       padding: 0.5rem;
       height: 20vh;
    }
   .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 5rem;
        cursor: pointer;
        display: grid !important;;
        transition: 0.5s all ease-out;
        justify-items: center;
    }
    .card-body:hover{
        background-color:#2A2B33;
        color: #D9D9D9;
    }   

        @media screen and (min-width: 600px) and (max-width: 800px){
        
            .grade{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                justify-content: center;
                justify-items: center;
            }
            main .grade .card-body #button-Comprar{
                cursor: pointer ;
                background-color: #D9D9D9 ;
                color: #2A2B33;
                border: none;
                border-radius: 0.5px;
                }
                
                main .grade .card-body #button-Comprar:hover{
                    background-color:#2A2B33;
                    color: #D9D9D9;
                }
                main .grade .card-body img{
                    background-size: cover;
                    background-position: center;
                   background-repeat: no-repeat; 
                   padding: 0.5rem;
                   height: 20vh;
                }
               .card-body {
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    padding: 5rem;
                    cursor: pointer;
                    display: grid !important;;
                    transition: 0.5s all ease-out;
                    justify-items: center;
                }
                .card-body:hover{
                    background-color:#2A2B33;
                    color: #D9D9D9;
                }
                   .grade {
                        display: flex !important;
                        justify-content: center;
                        justify-items: center;
                        margin-right: 0 !important; 
                         margin-left: 0 !important;
                
                    }
            
        }