body{
    background-color: #C0C1D6 !important;
    margin: 0;
    padding: 0;    
}

header{
    background-color: rgb(0, 0, 0, 0);
    color: 303247;

}

main{

}

form .form-group input{
    background-color: #D9D9D9;
    width: 443px;
    height: 25px;
    text-align: left;
    border-radius: 2px;
    border: none;


}
.cadastroProd{
    display: flex;
    flex-direction: column;
    flex-direction: row;
}

form .group-cadastro{
    margin-left: 5vw;
}

form .form-control{
    background-color: #D9D9D9;
    width: 100px;
    height: 25px;
    text-align: left;
    border-radius: 2px;
    border: none;

}
#quantidade,
#valor{
    background-color: #D9D9D9;
    width: 100px;
    height: 25px;
    text-align: left;
    border-radius: 2px;
    border: none;
 
}