body{
    padding: 0;
    margin: 0;
    background-color: white;
    display: grid;
}

#ProdutosCheckout{
    /* height: 86vh; */
    background-color: #D9D9D9;
    border: black solid 1px;
    overflow-x: auto;
    max-width: 27vw;
    align-items: center;
    align-content: center;
}



footer{
    display: grid;
    height: 10vh;
    background-color: #2A2B33;
    color: white;
}
footer .rodape{
display: grid;
grid-template-columns: 1fr 1fr;    
    width: 100%;
}
    footer .rodape .redesSociais{
    margin-left: 0.5%;
}
footer .rodape .redesSociais, footer .rodape .metodoContato{
    display: grid;
}
