body{
    padding: 0;
    margin: 0;
    display: flexbox;  

}
header{
    width: 100%;
      height: 100%;
    background-color: #2A2B33;
 display: flex;
}

header #gridHeader{
  display: grid;
  grid-template-columns: 15% 40% 20% 25%; 
  height: 10vh;
    
}
#logoHeader{
    background-image: url(./../assets/ModaUrbanaLogoHome.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 8vw;
    
}

.nav-link {
     padding: 0 !important;
     text-align: center;
     align-content: center;
}

header #gridHeader #Juntos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

 .offcanvas-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #303247;
    width: 27vw;
    height: 100%;
    align-items: center;
    display: grid;
    text-align: center;
    margin: 0;
    padding: 0;
    transform: translateX(500%);
    transition: all .4s ease;

} 

  header #buttonIcone .dropdown-menu a{
    font-size: 2px;
  }

.offcanvas-menu.active {
    transform: translateX(275%);

}



.offcanvas-menu ul li {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#card{
    border: black solid 1px;
    height: 100vh;
    display: grid;
    grid-template-columns: 10%, 70%, 10%, 10%;
    padding: 0;
    margin: 0;
}

header #card #headerCarrrinho h1{
font-size: 50px;
border: black;
text-align: center;
}

#HeaderCarrinho{
    background-color: #303247;
    color: white;
    text-align: center;
}
#MainCarrinho{
    height: 86vh;
    background-color: #D9D9D9;
    border: black solid 1px;

}
#TotalCarrinho{
    display: grid;
    height: 10vh;
    border: black solid 1px;
    text-align: left;
}
#FooterCarrinho{
    width: 100%;
    height: 100%;
    background-color: #303247;   
    border: black solid 1px;
    
}

#FooterCarrinho button{
    background-color: #303247;   
    color: white;
    width: 100%;
    height: 100%;
    margin-bottom: 5vh;
    border: none;
    cursor: pointer;
}
main .categorias a{
    color: #303247;
}
main .categorias{
    background-color: white;

    text-align: center;
    align-items: center;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 22%;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

#pesquisa{

    width: 35vw;
    height: 4.5vh;
    padding-right: 83px;
    background-color: #D9D9D9;
}
#campoPesquisa{
    display:flex;
}
header #gridHeader #campoPesquisa button{
    background-color: #D9D9D9;
    height: 4.5vh;
    border: none;
    margin-left: -5px;
}

    .d-flex button{
        border: none;
        color: rgb(0, 0, 0);
        background-color: none;
        margin-right: 0;

    }
    .d-flex button:hover{
        background: none;
        font-size: 24px;
        color: black;
    }
    #button{  
    background-color: rgb(0, 0, 0);
    border: 0;
    color: white;
     }


#buttonIconeLupa{
    font-size: 150%;
}
 main .container-categorias{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
main .container-categorias .categoria a{

text-decoration: none;
color: #2A2B33;
}


.buttonIcone{
    display: grid !important;

}
#buttonUsuario #TextUser{
  position: static;
font-size: 26px;
color: #C0C1D6 !important;
margin-top: -5% !important;
}

#buttonUsuario .dropdown-menu a{
font-size: 17px;
justify-content: center;
display: block;
align-items: left;
color: #303247 !important;
}

header .buttonIcone{
    display: block !important;
justify-content: center !important;
text-align: center !important;
align-items: center !important;
align-content: center !important;
}
.main-menu  #buttonIconeCarrinho{
        font-size: 120% ;
        border: 0;
        color: #C0C1D6;
        background-color: rgb(0, 0, 0, 0);
        cursor: pointer;
        display: flex !important;
        justify-content: center !important;
        text-align: center !important;
        align-items: center !important;
        align-content: center !important;
    }
    .main-menu  #buttonIconeCarrinho:hover{
        text-decoration: none;
    }
    .main-menu #IconeCarrinho{
        font-size: 150%;
        bottom: 10.5vh;
    }

.buttonIcone button{
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

 .open-btn{
    border: 0;
    color: #C0C1D6;
    background-color: rgb(0, 0, 0, 0);
    cursor: pointer;
    
}


.close-btn{
    position:fixed;
    top: 49vh;
    left: 0;
    font-size: x-large;
    width: 16.95px;
    height: 40px;
    border: 0;
    color: #2A2B33;
    background-color: rgba(0, 0, 0, 0);

    cursor: pointer;
} 
 main #iconeCategoria{
    font-size: 125%;
    color: #303247;
}
.main-menu {
    position: relative;
    z-index: 1;
    display: grid;
    justify-content: center;
    align-content: center;
}



main #carouselExampleControls {
    padding-top: 4vh;
}
main .container .row{
text-align: center;
}
main .container .row .card-body #button-Comprar{
cursor: pointer ;
background-color: #D9D9D9 ;
color: #2A2B33;
border: none;
border-radius: 0.5px;
}

main .container .row .card-body #button-Comprar:hover{
    background-color:#2A2B33;
    color: #D9D9D9;
}