main{
    flex: 1;
} 

#titulo{
    text-align: center; 
}

.todasInformacoes{
    display: grid;
   /* justify-content: end;*/
   height: 69vh; 
   width: 100vw;
   align-content: center;
    justify-content: center;
    justify-items: start;
    margin-bottom: 1vh;
}
#produtosClientes{
    height: 65vh; 
     width: 90vw; 
    background-color: #D9D9D9;
    border: black solid 1px;
    overflow-x: auto;
    align-items: center;
}
.informacoesProdutos{
text-align: start;
display: grid;
grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr;
width: 99.9%;
border: #000 solid 0.25px;
flex: 1;
}

main .totalProdutosCheckout{
    width: 100%;
    font-size: large;
    font-weight: 600;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 1vh;
    flex: 1;
}
main .totalProdutosCheckout .valorTotal{
width: 90vw;
height: 3vh;
background-color: #D9D9D9;
border: #000 solid 0.25px ;
margin-right: 1vw;
} 
img{
    width: 10vw;
    height: 10vh;
}
footer{
    display: grid;
    height: 10vh;
    background-color: #2A2B33;
    color: white;
    margin-top: 1.2vh;
}
footer .rodape{
display: grid;
grid-template-columns: 1fr 1fr;    
    width: 100%;
}
footer .rodape .redesSociais{
    margin-left: 0.5%;
}
footer .rodape .redesSociais, footer .rodape .metodoContato{
    display: grid;
}