html{
    height: 100vh;
    max-height: 100vh;
}
main{
    height: fit-content;
    justify-content: center;
    align-content: center;
    flex: 1;
} 
main .produto .imagemProduto{
    display: block;
    height: 100%;
    text-align: center !important;
align-content: center !important;
align-items: center !important;
}
main .produto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 76vh;
    width: 100vw;
    
}
main .produto .imagemProduto img {
     vertical-align: none !important; 
      border-style: none !important; 
      height: 50vh;
      text-align: center;
      align-content: center;
      align-items: center !important;
    }
main .imagemProduto h5{
        margin-top: 5vh;
    }
    #quantidade{
        width: 5vw;
        height: auto;
    }
    #TextQuantidade, #valorProduto,#TextTamanho{
        font-family: inherit;
    }
    #descricaoProduto{
        font-family: inherit;
        padding-bottom: 15vh;
    }
     .produto #comprar{
        background-color: #303247;
        color: white;
        border-radius: 8px;
        margin-top: 1.5vh;
        width: 15vw;
     }
    main .produto .InformProduto{
        display: grid;
        justify-content: start;
        align-content: center;
        align-items: center;
        height: auto;
        padding-top: 0.7vh;
    }
    main .produto .imagemProduto #tituloProduto{
        font-size: xx-large;
        font-family: inherit;
        padding-bottom: 5vh;
    }
    footer{
        display: grid;
        height: 10vh;
        background-color: #2A2B33;
        color: white;
    }
    footer .rodape{
display: grid;
grid-template-columns: 1fr 1fr;    
        width: 100%;
    }
    footer .rodape .redesSociais{
        margin-left: 0.5%;
    }
    footer .rodape .redesSociais, footer .rodape .metodoContato{
        display: grid;
    }

    @media screen and (min-width: 600px) and (max-width: 800px){
        html{
            height: 100vh;
            max-height: 100vh;
        }
        main{
            height: fit-content;
            justify-content: center;
            align-content: center;
            flex: 1;
        } 
        main .produto .imagemProduto{
            display: block;
            height: 100%;
            text-align: center !important;
        align-content: center !important;
        align-items: center !important;
        }
        main .produto{
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 76vh;
            width: 100vw;
            
        }
        main .produto .imagemProduto img {
             vertical-align: none !important; 
              border-style: none !important; 
              height: 50vh;
              text-align: center;
              align-content: center;
              align-items: center !important;
            }
        main .imagemProduto h5{
                margin-top: 5vh;
            }
            #quantidade{
                width: 7vw;
                height: auto;
            }
            #TextQuantidade, #valorProduto,#TextTamanho{
                font-weight: 700;
                font-size: large;
                font-family: inherit;
            }
            #descricaoProduto{
                font-family: inherit;
                font-weight: 700;
                padding-bottom: 15vh;
            }
             .produto #comprar{
                background-color: #303247;
                color: white;
                border-radius: 8px;
                margin-top: 1.5vh;
                width: 25vw;
             }
            main .produto .InformProduto{
                display: grid;
                justify-content: center;
                align-content: center;
                align-items: center;
                height: auto;
                margin-left: 5vw;
                padding-top: 0.7vh;
            }
            main .produto .imagemProduto #tituloProduto{
                font-size: xx-large;
                font-weight: 600;
                font-family: inherit;
                padding-bottom: 5vh;
            }
            footer{
                display: grid;
                height: 10vh;
                background-color: #2A2B33;
                color: white;
            }
            footer .rodape{
        display: grid;
        grid-template-columns: 1fr 1fr;    
                width: 100%;
            }
            footer .rodape .redesSociais{
                margin-left: 0.5%;
            }
            footer .rodape .redesSociais, footer .rodape .metodoContato{
                display: grid;
            }
    }